:root {
    --blue : #096096;
    --text-lightBlack-color: #383636;
    --font:'Segoe UI', Tahoma, Verdana, sans-serif;
}

button {
    padding: 4px 10px;
    border: #09609646 2px solid;
    background-color: var(--blue);
    color: white;
    font-size: 13px;
}
.line{
    background-color: var(--blue);
    height: 2px;
    opacity: 0.05;
    width: 99%;

}
header{
    /* background-color: #09609646; */
    background-color: rgb(255, 255, 255);
}
.card{
    width: 300px;
    /* position: relative;
    top: 20%;
    left: 10%; */
    margin-left: 10%;
}

input ,select , option{
    padding: 4px 6px;
    outline: #26caf326 solid 2px;
    background-color:#26caf326;
    border: none;
    border-radius: 4px;
    color: #8d8b8b;
    width: 250px;
}
form div {
    width: 250px;
}
button {
    background-color: #0a58ca;
    border: 1px transparent solid;
    border-radius: 4px;
    padding: 8px 10px;
    margin-bottom: 10px;
}

.back {
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 37, 246, 0.29), rgba(52, 167, 245, 0.65)), url('../images/img.jpg') no-repeat top center ;
    background-size: cover;



}
.back h1 {
    color: white;
    font-size: 30px;
    padding: 20px 10px;
    font-weight: bolder;
    text-align: center;

}
p{
    text-align: center;
    color: white;
}
.discover{
    background-color: white;
    color: rgba(52, 167, 245, 0.65);
    border: rgba(52, 167, 245, 0.65) 1.5px solid;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    margin: 10px 0;
    margin-bottom: 10px;
}
button:hover{
    color: rgba(52, 167, 245, 0.65);
    background-color: white;
    border: rgba(52, 167, 245, 0.65) solid 0.1px;

}
.discover:hover{
    background-color: rgba(52, 167, 245, 0.65);
    color: white;



}

footer {
    background-color: #09609646;
    color: white;
    height: 100px;
}
span{
    color: rgba(52, 167, 245, 0.65);
    font-size: 10px;
    font-weight: bold;
    font-family: var(--font), cursive;
}


.cards{
    border: solid 1px rgba(52, 80, 223, 0.295);
    width: fit-content;
    height: 70px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(241, 235, 235);
    padding: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
    border-bottom: #0ecfff solid 10px;

}

.btn-logout{
    border: none;
    color: #a19e9e;
    font-size: 14px;
    font-weight: bolder;
    background: none;



}
.btn-logout:hover{
    border: none;
}