<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>PatienServlet</servlet-name>
        <servlet-class>com.medo.doctorrv.web.PatienServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PatienServlet</servlet-name>
        <url-pattern>/PatienServlet</url-pattern>
    </servlet-mapping>
<welcome-file-list>
    <welcome-file>PatienServlet</welcome-file>
</welcome-file-list>
</web-app>